.page {
    margin: 0;
    background-color: white;
    font-family: Arquitecta, Arial, sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 425px) {
  .page {
  }
}